<section id="features">
    <div class="feature-list">
      <div class="row">
        <div class="col-6 col-12-medium" *ngFor="let listing of news">
          <section>
            <a href="{{ listing.url }}" target="_blank">
              <h3 class="far fa-newspaper">{{ listing.headline }}</h3>
            </a>
            <img src="{{ listing.image }}" style="max-height: 200px; max-width: 200px;" />
            <i class="far fa-clock"> {{ listing.datetime }}</i>
            <p>{{ listing.summary }}</p>
            <i class="fas fa-external-link-alt"> Source <a href="{{ listing.url }}" target="_blank">{{ listing.source }}</a></i>
            <br>
          </section>
        </div>
      </div>
    </div>
  </section>
